<section class="hero is-danger is-bold is-fullheight" id="celebrate" style="position: relative;">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title is-1" style="font-family: 'Satisfy', cursive; font-size: 5rem;">
				Celebrate with us
			</h1>
			<div class="columns is-centered">
				<div class="column is-5 is-4-desktop">
					<br>
					<span class="icon is-huge">
						<svg class="fa icon-moon-o">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-moon-o"></use>
						</svg>
					</span>
					<br><br>
					<h2 class="subtitle is-3" style="font-family: 'Satisfy', cursive; font-size: 3.33rem;">
						night before
					</h2>
					<p class="subtitle is-5"><a href="http://www.theepicurean.com.au/" target="_blank"><u>The Epicurean</u></a> is a beautiful old packers shed that serves fresh Italian food using locally grown produce. We shall be making a reservation for dinner
						on the Friday night for 7pm ($50 per head + drinks). If you'd like to join us, let us know <a href="mailto:rsvp@becandscotttietheknot.com?subject=Wedding RSVP"><u>when you RSVP</u></a>.</p>
				</div>
				<div class="column is-5">
					<br>
					<span class="icon heartbeat is-huge">
						<svg class="fa icon-heart-o">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart-o"></use>
						</svg>
					</span>
					<br><br>
					<h2 class="subtitle is-3" style="font-family: 'Satisfy', cursive; font-size: 3.33rem;">
						morning after
					</h2>
					<p class="subtitle is-5">Lindenderry shall be serving breakfast for all hotel guests the morning after at 9am. Non-hotel guests are welcome to join us as well, but will need to pay for their own breakfast.</p>
				</div>
			</div>
		</div>
	</div>
</section>