<section class="hero is-primary is-bold is-fullheight" id="details" style="position: relative;">
	<div class="hero-body">
		<div class="container has-text-centered">
			<div class="title is-size-1 wedding-font-cursive">
				Our big day
			</div>
			<br><br>
			<div class="columns is-centered">
				<div class="column is-4 is-offset-1">
					<div class="level">
						<div class="level-left">
							<div class="level-item">
								<div>
									<span class="icon is-huge">
										<svg class="fa icon-clock-o">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-clock-o"></use>
										</svg>
									</span>
									<h2 class="subtitle is-size-2 wedding-font-cursive">
										when
									</h2>
								</div>
							</div>
							<div class="level-item has-text-centered">
								<p class="subtitle">Saturday, 24 August 2019<br><span class="countdown" style="display: none;"></span></p>
							</div>
						</div>
					</div>
					<div class="level">
						<div class="level-left">
							<div class="level-item">
								<div>
									<span class="icon is-huge">
										<svg class="fa icon-map-marker">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-map-marker"></use>
										</svg>
									</span>
									<h2 class="subtitle is-size-2 wedding-font-cursive">
										where
									</h2>
								</div>
							</div>
							<div class="level-item has-text-centered">
								<p class="subtitle">Jambur Sada Karya, Berastagi<br>Sumatera Utara, Indonesia</p>
							</div>
						</div>
					</div>
				</div>
				<div class="column is-6">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.602126430665!2d98.51281045031192!3d3.1987459537263927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x303102e8dce25937%3A0x8450edcfb7e3acac!2sJambur+Sada+Karya!5e0!3m2!1sen!2sid!4v1559618547614!5m2!1sen!2sid" class="box" frameborder="0" style="border:0; height: 100%; width: 100%; padding: 0.1rem; pointer-events: none;" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</section>