<section class="hero is-bold" id="details" style="position: relative;">
	<div class="hero-body">
		<div class="container has-text-centered">
			{%- if page.guest -%}
			<br>
			<div class="title is-size-2 wedding-font-cursive has-text-white">
				{{ page.guest }},
			</div>
			{%- endif -%}
			<p class="subtitle has-text-white">We invite you to be with us, as we begin our new life together</p>
			<br>

			<div class="columns is-centered">
				<div class="column is-6">
					<figure class="image is-128x128 is-margin-auto">
						<img class="is-rounded" src="{{ '/assets/img/yuna.jpg' | relative_url }}">
					</figure>
					<br>
					<p class="subtitle has-text-white">
						<b>Yuna Syahwindry</b>
						<br>First Daughter of
						<br><b>Dasril & Sri Wahyuni</b>
					</p>
					<br>
				</div>
				<div class="column is-6">
					<figure class="image is-128x128 is-margin-auto">
						<img class="is-rounded" src="{{ '/assets/img/dedy.jpg' | relative_url }}">
					</figure>
					<br>
					<p class="subtitle has-text-white">
						<b>Dedy Prasetiady</b>
						<br>First Son of
						<br><b>Alm. Sariadi & Nurnasni Hanum</b>
					</p>
					<br>
				</div>
			</div>
		</div>
	</div>
</section>
