<section class="hero is-primary is-bold is-fullheight" id="details" style="position: relative;">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title is-1" style="font-family: 'Satisfy', cursive; font-size: 5rem;">
				Our big day
			</h1>
			<br><br>
			<div class="columns is-centered">
				<div class="column is-4 is-offset-1">
					<div class="level">
						<div class="level-left">
							<div class="level-item">
								<div>
									<span class="icon is-huge">
										<svg class="fa icon-clock-o">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-clock-o"></use>
										</svg>
									</span>
									<h2 class="subtitle" style="font-family: 'Satisfy', cursive; font-size: 3.33rem;">
										when
									</h2>
								</div>
							</div>
							<div class="level-item has-text-centered">
								<p class="subtitle">Saturday, 24 August 2019<br><span class="countdown" style="display: none;"></span></p>
							</div>
						</div>
					</div>
					<div class="level">
						<div class="level-left">
							<div class="level-item">
								<div>
									<span class="icon is-huge">
										<svg class="fa icon-map-marker">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-map-marker"></use>
										</svg>
									</span>
									<h2 class="subtitle" style="font-family: 'Satisfy', cursive; font-size: 3.33rem;">
										where
									</h2>
								</div>
							</div>
							<div class="level-item has-text-centered">
								<p class="subtitle">Jambur XXX<br>Berastagi<br>Sumatra Utara, Indonesia</p>
							</div>
						</div>
					</div>
				</div>
				<div class="column is-6">
					<iframe src="https://maps.google.com/maps?q=berastagi&t=&z=15&ie=UTF8&iwloc=&output=embed" class="box" frameborder="0" style="border:0; height: 100%; width: 100%; padding: 0.1rem; pointer-events: none;" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</section>