<section class="hero has-text-white" id="footer" style="position: relative;">
	<div class="hero-body">
		<div class="container has-text-centered is-centered" style="overflow: hidden;">
			<div class="level">
				<div class="level-item has-text-centered">
					<div>
						<h1 class="title truncate is-1 has-text-white" style="font-family: 'Satisfy', cursive;">
							Yuna 💕 Dedy
						</h1>
						<p>Saturday, 24 August 2019</p>
					</div>						
				</div>
				<div class="level-item has-text-centered">
					<p>Crafted with love by Yuna & Dedy</p>
				</div>
			</div>
		</div>
	</div>
</section>
<audio autoplay loop id="myAudio">
  <source src="http://envita.net/backsound/mocca-iremember.mp3" type="audio/mpeg">
</audio>