<section class="hero has-text-white" id="footer" style="position: relative;">
	<div class="hero-body">
		<div class="container has-text-centered is-centered">
			<div class="level">
				<div class="level-item has-text-centered">
					<div>
						<div class="title is-size-2 has-text-white wedding-font-cursive">
							Yuna 💕 Dedy
						</div>
						<p>Saturday, 24 August 2019</p>
					</div>						
				</div>
				<div class="level-item has-text-centered">
					<p>Crafted with love by Yuna & Dedy</p>
				</div>
			</div>
		</div>
	</div>
</section>