<section class="hero is-bold" id="gallery" style="position: relative;">
	<div class="hero-body">
		<div class="container has-text-centered">
			<div class="title is-size-2 wedding-font-cursive">
				Our Moments Together
			</div>
			<table>
				<tr>
					<td>
						<img src="{{ '/assets/img/1.1.3.jpg' | relative_url }}">
					</td>
					<td>
						<img src="{{ '/assets/img/1.1.4.jpg' | relative_url }}">
					</td>
				</tr>
				<tr>
					<td rowspan="2">
						<img src="{{ '/assets/img/2.1.1.jpg' | relative_url }}">
					</td>
					<td>
						<img src="{{ '/assets/img/1.1.5.jpg' | relative_url }}">
					</td>
				</tr>
				<tr>
					<td>
						<img src="{{ '/assets/img/1.1.1.jpg' | relative_url }}">
					</td>
				</tr>
			</table>
			<br><br><br>
			<div class="is-size-2 is-size-3-mobile">
				بَارَكَ اللّهُ لَكَ وَبَارَكَ عَلَيكَ وَجَمَعَ بَينَكُمَا فِى خَيرٍ
			</div>
			<p class="subtitle">
				<br><i>Barakallahu laka wa baaraka ‘alaika wa jama’a bainakuma fi khair</i>
				<br>
				<br>May Allah bless you and bless your counterpart and may Allah tie your union with virtue.
				<br>[Sunan Abí Dáwud, Sunan Tirmidhi, Sunan Ibn Majah and Al-Hákim]
			</p>
			<br>
			<br>
		</div>

		<div class="fb-comments" data-href="https://yunadedy.com" data-width="100%" data-numposts="10" data-order-by="social"></div>
	</div>
</section>
