<section class="hero is-fullheight" id="gallery" style="background: none;"></section>
<section class="hero is-black is-bold is-fullheight" style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 1;">
	<div class="slider-container">
		<div class="slider">
			<div class="slider__item" style="height: 100vh; background: url('https://picsum.photos/id/1013/4256/2832') no-repeat center center; background-size: cover;"></div>
			<div class="slider__item" style="height: 100vh; background: url('https://picsum.photos/id/1002/4312/2868') no-repeat center center; background-size: cover;"></div>
			<div class="slider__item" style="height: 100vh; background: url('https://picsum.photos/id/10/2500/1667') no-repeat center left; background-size: cover;"></div>
		</div>
		<div class="slider__switch slider__switch--prev" data-ikslider-dir="prev">
			<span>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
					<path d="M13.89 17.418c.27.272.27.71 0 .98s-.7.27-.968 0l-7.83-7.91c-.268-.27-.268-.706 0-.978l7.83-7.908c.268-.27.7-.27.97 0s.267.71 0 .98L6.75 10l7.14 7.418z" />
				</svg>
			</span>
		</div>
		<div class="slider__switch slider__switch--next" data-ikslider-dir="next">
			<span>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
					<path d="M13.25 10L6.11 2.58c-.27-.27-.27-.707 0-.98.267-.27.7-.27.968 0l7.83 7.91c.268.27.268.708 0 .978l-7.83 7.908c-.268.27-.7.27-.97 0s-.267-.707 0-.98L13.25 10z" />
				</svg>
			</span>
		</div>
	</div>
</section>