<section class="hero is-dark" style="position: fixed; top: 0; width: 100%; z-index: 20; background: none;">
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="nav-item" href="#welcome">
				<span style="font-family: 'Satisfy', cursive; font-size: 2.4rem; color: #fff; margin-left: 1rem">Y💕D</span>
			</a>
			
			<a role="button" class="navbar-burger burger has-text-white" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-end">
				<div class="navbar-item">
					<a href="#details" class="has-text-white">
						Details
					</a>	
				</div>
				<div class="navbar-item">
					<a href="#gallery" class="has-text-white">
						Gallery
					</a>	
				</div>
			</div>
		</div>
	</nav>
</section>