<section class="hero is-dark is-fullheight" id="welcome">
	<div id="particles-js" style="position: absolute; width: 100%; height: 100%; z-index: 0;"></div>
	<div class="hero-body">
		<div class="container has-text-centered">
			<br><br><br>
			<div class="title is-size-1 wedding-font tracking-in-expand has-text-shadow">
				Yuna 💕 Dedy
			</div>
			<br>
			<div class="is-size-2 is-size-3-mobile">
				بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم
			</div>
			{%- if page.guest -%}
			<br>
			<div class="is-size-3 is-size-4-mobile">
				{{ page.guest }},
			</div>	
			{%- endif -%}
			<br>
			<div class="is-size-2 is-size-3-mobile wedding-font-cursive text-focus-in">
				We are getting married!
			</div>
		</div>
	</div>
	<div class="hero-foot has-text-centered">
		<a href="#details" class="icon is-epic animated bounce" style="margin-bottom: 1rem;">
			<svg class="fa icon-angle-down has-text-white">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-angle-down"></use>
			</svg>
		</a>
	</div>
</section>