<section class="hero is-dark is-fullheight" id="welcome">
	<div class="hero-body">
		<div class="container has-text-centered">
			<br><br>
			<div class="title is-size-1 wedding-font">
				Yuna 💕 Dedy
			</div>
			<br>
			<div class="is-size-2">
				بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم
			</div>
			<h2 class="is-size-2 wedding-font-cursive">
				We are getting married!
			</h2>
		</div>
	</div>
	<div class="hero-foot has-text-centered">
		<a href="#details" class="icon is-epic animated bounce" style="margin-bottom: 1rem;">
			<svg class="fa icon-angle-down has-text-white">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-angle-down"></use>
			</svg>
		</a>
	</div>
</section>