<!DOCTYPE html>
<html>
{% include head.html %}

<body>
	<section class="hero is-dark" style="position: fixed; top: 0; width: 100%; z-index: 20; background: none;">
		<nav class="navbar" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<a class="nav-item" href="#welcome">
					<span style="font-family: 'Satisfy', cursive; font-size: 2.4rem; color: #fff; margin-left: 1rem">Y💕D</span>
				</a>
				
				<a role="button" class="navbar-burger burger has-text-white" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>

			<div id="navbarBasicExample" class="navbar-menu">
				<div class="navbar-end">
					<div class="navbar-item">
						<a href="#details" class="has-text-white">
							Details
						</a>	
					</div>
					<div class="navbar-item">
						<a href="#celebrate" class="has-text-white">
							Celebrate
						</a>
					</div>
					<div class="navbar-item">
						<a href="#gallery" class="has-text-white">
							Gallery
						</a>	
					</div>
					<div class="navbar-item">
						<a href="#accomodation" class="has-text-white">
							Accomodation
						</a>
					</div>
				</div>
			</div>
		</nav>
	</section>
	<section class="hero is-dark is-fullheight" id="welcome" style="position: relative; background-image: url('https://picsum.photos/id/1002/4312/2868'); background-repeat: no-repeat; background-position: center top; background-size: cover; background-attachment: scroll;">
		<!-- Hero content: will be in the middle -->
		<div class="hero-body">
			<div class="container has-text-centered">
				<h1 class="title is-1" style="font-family: 'Satisfy', cursive; font-size: 5rem;">
					Yuna 💕 Dedy
				</h1>
				<br>
				<h2 class="subtitle is-3" style="font-size: 2rem;">
					In The Name of Allah The Merciful
				</h2>
				<h2 class="subtitle is-3" style="font-family: 'Satisfy', cursive; font-size: 3.33rem;">
					We are getting married!
				</h2>
			</div>
		</div>
		<!-- Hero footer: will stick at the bottom -->
		<div class="hero-foot has-text-centered">
			<a href="#details" class="icon is-epic animated bounce" style="margin-bottom: 1rem;">
				<svg class="fa icon-angle-down has-text-white">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-angle-down"></use>
				</svg>
			</a>
		</div>
	</section>
	<section class="hero is-primary is-bold is-fullheight" id="details" style="position: relative;">
		<div id="particles" style="position: absolute; width: 100%; height: 100%; z-index: 0; max-height: 100vh;"></div>
		<div class="hero-body">
			<div class="container has-text-centered">
				<h1 class="title is-1" style="font-family: 'Satisfy', cursive; font-size: 5rem;">
					Our big day
				</h1>
				<br><br>
				<div class="columns is-centered">
					<div class="column is-4 is-offset-1">
						<div class="level">
							<div class="level-left">
								<div class="level-item">
									<div>
										<span class="icon is-huge">
											<svg class="fa icon-clock-o">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-clock-o"></use>
											</svg>
										</span>
										<h2 class="subtitle" style="font-family: 'Satisfy', cursive; font-size: 3.33rem;">
											when
										</h2>
									</div>
								</div>
								<div class="level-item has-text-centered">
									<p class="subtitle">24th Aug 2019<br>Ceremony begins 1pm<br><span class="countdown" style="display: none;"></span></p>
								</div>
							</div>
						</div>
						<div class="level">
							<div class="level-left">
								<div class="level-item">
									<div>
										<span class="icon is-huge">
											<svg class="fa icon-map-marker">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-map-marker"></use>
											</svg>
										</span>
										<h2 class="subtitle" style="font-family: 'Satisfy', cursive; font-size: 3.33rem;">
											where
										</h2>
									</div>
								</div>
								<div class="level-item has-text-centered">
									<p class="subtitle">Jambur XXX<br>Berastagi<br>Sumatra Utara, Indonesia</p>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-6">
						<iframe src="https://maps.google.com/maps?q=berastagi&t=&z=15&ie=UTF8&iwloc=&output=embed" class="box" frameborder="0" style="border:0; height: 100%; width: 100%; padding: 0.1rem; pointer-events: none;" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="hero is-danger is-bold is-fullheight" id="celebrate" style="position: relative;">
		<div class="hero-body">
			<div class="container has-text-centered">
				<h1 class="title is-1" style="font-family: 'Satisfy', cursive; font-size: 5rem;">
					Celebrate with us
				</h1>
				<div class="columns is-centered">
					<div class="column is-5 is-4-desktop">
						<br>
						<span class="icon is-huge">
							<svg class="fa icon-moon-o">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-moon-o"></use>
							</svg>
						</span>
						<br><br>
						<h2 class="subtitle is-3" style="font-family: 'Satisfy', cursive; font-size: 3.33rem;">
							night before
						</h2>
						<p class="subtitle is-5"><a href="http://www.theepicurean.com.au/" target="_blank"><u>The Epicurean</u></a> is a beautiful old packers shed that serves fresh Italian food using locally grown produce. We shall be making a reservation for dinner
							on the Friday night for 7pm ($50 per head + drinks). If you'd like to join us, let us know <a href="mailto:rsvp@becandscotttietheknot.com?subject=Wedding RSVP"><u>when you RSVP</u></a>.</p>
					</div>
					<div class="column is-5">
						<br>
						<span class="icon heartbeat is-huge">
							<svg class="fa icon-heart-o">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart-o"></use>
							</svg>
						</span>
						<br><br>
						<h2 class="subtitle is-3" style="font-family: 'Satisfy', cursive; font-size: 3.33rem;">
							morning after
						</h2>
						<p class="subtitle is-5">Lindenderry shall be serving breakfast for all hotel guests the morning after at 9am. Non-hotel guests are welcome to join us as well, but will need to pay for their own breakfast.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="hero is-fullheight" id="gallery" style="background: none;"></section>
	<section class="hero is-black is-bold is-fullheight" style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 1;">
		<div class="slider-container">
			<div class="slider">
				<div class="slider__item" style="height: 100vh; background: url('https://picsum.photos/id/1013/4256/2832') no-repeat center center; background-size: cover;"></div>
				<div class="slider__item" style="height: 100vh; background: url('https://picsum.photos/id/1002/4312/2868') no-repeat center center; background-size: cover;"></div>
				<div class="slider__item" style="height: 100vh; background: url('https://picsum.photos/id/10/2500/1667') no-repeat center left; background-size: cover;"></div>
			</div>
			<div class="slider__switch slider__switch--prev" data-ikslider-dir="prev">
				<span>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
						<path d="M13.89 17.418c.27.272.27.71 0 .98s-.7.27-.968 0l-7.83-7.91c-.268-.27-.268-.706 0-.978l7.83-7.908c.268-.27.7-.27.97 0s.267.71 0 .98L6.75 10l7.14 7.418z" />
					</svg>
				</span>
			</div>
			<div class="slider__switch slider__switch--next" data-ikslider-dir="next">
				<span>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
						<path d="M13.25 10L6.11 2.58c-.27-.27-.27-.707 0-.98.267-.27.7-.27.968 0l7.83 7.91c.268.27.268.708 0 .978l-7.83 7.908c-.268.27-.7.27-.97 0s-.267-.707 0-.98L13.25 10z" />
					</svg>
				</span>
			</div>
		</div>
	</section>
	<section class="hero is-warning is-bold is-fullheight" id="accomodation" style="position: relative;">
		<div class="hero-body">
			<div class="container has-text-centered" style="overflow: hidden;">
				<h1 class="title truncate is-1" style="font-family: 'Satisfy', cursive; font-size: 5rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
					Accomodation
				</h1>
				<br>
			</div>
		</div>
	</section>
	{% include icons.html %}
</body>

</html>