#footer {
	background: linear-gradient(0deg, #625ebd, #625ebd);
	background-size: 600% 600%;
	-webkit-animation: FooterGradient 3s ease infinite;
	-moz-animation: FooterGradient 3s ease infinite;
	-o-animation: FooterGradient 3s ease infinite;
	animation: FooterGradient 3s ease infinite;
	@-webkit-keyframes FooterGradient {
		0% {
			background-position: 0 50%;
		}

		50% {
			background-position: 100% 51%;
		}

		100% {
			background-position: 0 50%;
		}
	}
	@-moz-keyframes FooterGradient {
		0% {
			background-position: 0 50%;
		}

		50% {
			background-position: 100% 51%;
		}

		100% {
			background-position: 0 50%;
		}
	}
	@-o-keyframes FooterGradient {
		0% {
			background-position: 0 50%;
		}

		50% {
			background-position: 100% 51%;
		}

		100% {
			background-position: 0 50%;
		}
	}
	@keyframes FooterGradient {
		0% {
			background-position: 0 50%;
		}

		50% {
			background-position: 100% 51%;
		}

		100% {
			background-position: 0 50%;
		}
	}
}