#welcome {
	position: relative;
	background-color: white;
	background-image: linear-gradient(to bottom right, #000000, #442556);

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: url("../../assets/img/flower-top.png"), url("../../assets/img/flower-bottom.png");
		background-position: left top, right bottom;
		background-size: 600px 400px;
		background-repeat: no-repeat;
		background-attachment: scroll !important;
	}
}