#welcome {
	position: relative;
	background-color: #b2a7ec;
	background: url("../../assets/img/cover.jpg") no-repeat fixed;
	@supports not (-webkit-overflow-scrolling: touch) {
		background-position: center !important;
		background-size: cover !important;
	}
}